.opostoscoluna{
    display:flex;
    justify-content: space-between;
}

.opostoslinha{
    display:flex;
    justify-content: space-around;
}

.separador{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
}

.quadradoazul{
   background-color: deepskyblue;
    height: 100px;
    width: 100px;
}

.quadradoamarelo{
   background-color:gold;
    height: 100px;
    width: 100px;
}

.retanguloazul{
    background-color: deepskyblue;
    width: 1000px;
    height: 300px;
}

.retanguloamarelo{
    background-color:gold;
    width: 1000px;
    height: 300px;
    
}

.linhadrentro{
     height:33.3%;
}

.center{
    display: flex;
    justify-content: center;
}

.left{
    display: flex;
    justify-content: left;
}

.right{
    display: flex;
    justify-content: right;
}

.tela{
    height: 100vh;
}

.l1{
    display: flex;
    height: 33%;
    flex-direction: row;
    justify-content:space-around;
}

.l2{
    display: flex;
    height: 33%;
    flex-direction: row;
    justify-content: space-around;
}

.l3{
    display: flex;
    height: 33%;
    flex-direction: row;
    justify-content: space-around;
}

.retanguloazul2{
    background-color: deepskyblue;
    width: 2000px;
    height: 300px;
}

.retangulobranco{
    background-color: white;
    width: 2000px;
    height: 300px;
}